@model storeAdmin.Models.Product

@{
    ViewData["Title"] = "Create";
}
<h1>Create</h1>
<h4>Product</h4>
<hr /> 
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="name" class="control-label"></label>
                <input id="name" asp-for="name" class="form-control" />
                <span asp-validation-for="name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="price" class="control-label"></label>
                <input id="price" asp-for="price" class="form-control" />
                <span asp-validation-for="price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="amunt" class="control-label"></label>
                <input id="amunt" asp-for="amunt" class="form-control" />
                <span asp-validation-for="amunt" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="title" class="control-label"></label>
                <input id="title" asp-for="title" class="form-control" />
                <span asp-validation-for="title" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="productContent" class="control-label"></label>
                <input id="productContent" asp-for="productContent" class="form-control" />
                <span asp-validation-for="productContent" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input id="file" type="file" />
            </div>

        </form>
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/jquery/dist/jquery.js"></script>

        <img id="lodeImage" />
    </div>
</div>
<button class="btn btn-outline-primary" onclick="senddata()">Create</button>
<div>
    <a class="btn btn-outline-primary" asp-controller="Categoties" asp-action="Index">Back to Catesories</a>
</div>
<script>
    var imageEdit
    document.getElementById('file').addEventListener('change', (fileInput) => {
        if (fileInput.target.files && fileInput.target.files[0]) {
            const reader = new FileReader();
            reader.onload = ((e) => {
                document.getElementById('lodeImage').src = e.target['result'].toString();
                imageEdit = e.target['result'].toString()
            })
            reader.readAsDataURL(fileInput.target.files[0]);
        }
    })

    function senddata() {
        var catId = parseInt(JSON.parse(localStorage.getItem("MyCategoryId")));
        $.ajax({
            type: "POST",
            url: "/ProApi",
            data: JSON.stringify({
                "productContent": document.getElementById('productContent').value, "date": new Date().toString(), "title": document.getElementById('title').value, "catId": catId, "amunt": parseInt(document.getElementById('amunt').value), "name": document.getElementById('name').value, "price": parseInt(document.getElementById('price').value), "image": imageEdit
            }),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (data) { alert("success") },
            error: function (errMsg) {
                alert("error");
            }
        });
    }
</script>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
